@font-face {
    font-family: 'xenking';
    src: url('../fonts/xenking.eot?8b75ls');
    src: url('../fonts/xenking.eot?8b75ls#iefix') format('embedded-opentype'),
    url('../fonts/xenking.ttf?8b75ls') format('truetype'),
    url('../fonts/xenking.woff?8b75ls') format('woff'),
    url('../fonts/xenking.svg?8b75ls#xenking') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.icon {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xenking' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.github:before {
    content: "\e900";
}

.gitlab:before {
    content: "\e901";
}

.linkedin:before {
    content: "\e902";
}

.resume:before {
    content: "\e903";
}

.telegram:before {
    content: "\e904";
}

.twitter:before {
    content: "\e905";
}

.stack {
    position: relative;
    z-index: 1;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 2em;
    vertical-align: middle;
}

.stack.ellipse:after {
    content: "\ea0c";
}

.stack:after {
    position: absolute;
    z-index: -1;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 2em;
    color: #fafafa
}

.stack:before {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    line-height: inherit;
    color: #333;
}