html,
body {
    display: flex;
    align-self: center;
    justify-content: center;
    align-content: center;
    font-family: 'Roboto Mono', monospace;
    background: #212121;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

.container {
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}

.text {
    font-weight: 100;
    font-size: 3rem;
    color: #fafafa;
}

.dud {
    color: #757575;
}

.mail {
    font-size: 2em;
    color: #fafafa;
}

a,
a.infos {
    background: 0 0;
    color: #fafafa;
    text-decoration: none;
}

a {
    border-bottom: 1px dotted #fafafa
}

a.infos {
    border-bottom: none !important;
    font-size: 3em;
}

a:active,
a:hover {
    outline: 0;
}

a:hover {
    color: #ccc;
}

#bottom-panel {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    justify-items: baseline;
    align-items: center;
    width: 70%;
}

@font-face {
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/robotomonoregular.eot'); /* IE9 Compat Modes */
    src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url('../fonts/robotomonoregular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../fonts/robotomonoregular.woff2') format('woff2'), /* Super Modern Browsers */ url('../fonts/robotomonoregular.woff') format('woff'), /* Modern Browsers */ url('../fonts/robotomonoregular.ttf') format('truetype'), /* Safari, Android, iOS */ url('../fonts/robotomonoregular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

