<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ERR0R - Not Found</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/i/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/i/favicon-16x16.png">
    <link rel="stylesheet" href="/css/404.css">
</head>
<body>
<div class="container">
    <div class="error404" data-text="404">
        404
    </div>
    <div class="text">
        maybe try another time?
    </div>
</div>

</body>
</html>