<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Don't try to be creative. Try to be receptive</title>
    <link rel="icon" type="image/png" sizes="32x32" href="/i/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/i/favicon-16x16.png">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/icons.css">
</head>
<body>
<div class="container">
    <div class="text"></div>
    <div id="bottom-panel">
        <a target="_blank" href="https://telegram.me/xenking" class="infos">
            <i class="icon-telegram" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://github.com/xenking" class="infos">
            <i class="icon-github" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://twitter.com/xenking1" class="infos">
            <i class="icon-twitter-square" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://vk.com/noteblocks" class="infos">
            <i class="icon-vk" aria-hidden="true"></i>
        </a>
        <a target="_blank" href="https://music.xenking.pro" class="infos">
            <i class="icon-soundscape" aria-hidden="true"></i>
        </a>
        <div class="mail">
            mail[at]xenking.pro
        </div>
    </div>

</div>
<script src="/js/worker.js"></script>
</body>
</html>